.rightHand .E- {
	top: 53.2%;
}

.rightHand .D- {
	top: 56%;
}

.rightHand .C- {
	top: 58.8%;
}

.rightHand .B {
	top: 61.6%;
}

.rightHand .A {
	top: 64.4%;
}

.rightHand .G {
	top: 67.2%;
}

.rightHand .F {
	top: 70%;
}

.rightHand .E {
	top: 72.8%;
}

.rightHand .D {
	top: 75.6%;
}

.rightHand .C {
	top: 78.4%;
}

.rightHand .B_ {
	top: 81.2%;
}

.rightHand .A_ {
	top: 84%;
}

.rightHand .G_ {
	top: 86.8%;
}

.rightHand .F_ {
	top: 89.6%;
}

.rightHand .E_ {
	top: 92.4%;
}

.rightHand .D_ {
	top: 95.2%;
}

.rightHand .C_ {
	top: 98%;
}
