.leftHand .C-- {
	top: -2.8%;
}

.leftHand .B- {
	top: 0;
}

.leftHand .A- {
	top: 2.8%;
}

.leftHand .G- {
	top: 5.6%;
}

.leftHand .F- {
	top: 8.4%;
}

.leftHand .E- {
	top: 11.2%;
}

.leftHand .D- {
	top: 14%;
}

.leftHand .C- {
	top: 16.8%;
}

.leftHand .B {
	top: 19.6%;
}

.leftHand .A {
	top: 22.4%;
}

.leftHand .G {
	top: 25.2%;
}

.leftHand .F {
	top: 28%;
}

.leftHand .E {
	top: 30.8%;
}

.leftHand .D {
	top: 33.6%;
}

.leftHand .C {
	top: 36.4%;
}

.leftHand .B_ {
	top: 39.2%;
}

.leftHand .A_ {
	top: 42%;
}
